target/classes/META-INF/maven/com.onlineLibrary/BetweenParagraphs/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.onlineLibrary/BetweenParagraphs/pom.properties
target/classes/META-INF/MANIFEST.MF
